@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #232433;
}

a {
  text-decoration: none;
  color: #232433;
}

h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  color: #e07a5f;
}

p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

button {
  font-size: 12px;
  line-height: 15px;
}

/*----NAVBAR----*/
a.nav-link:hover {
  color: #e07a5f !important;
}

a.nav-link.active {
  color: #e07a5f !important;
}


/*----SKILLS SECTION----*/
.education h4 {
  font-size: 16px;
  line-height: 20px;
}

p.progress-level {
  font-size: 14px;
}

/*----HERO CARDS SECTION----*/
#home-card {
    height: 240px;
}
#home-card .card {
    height: 192px;
}
.box {
  width: 320px;
  height: 120px;
}

.box2 {
  width: 320px;
  height: 120px;
  top: 100px;
}

/*----PORTFOLIO SECTION----*/
.overlay {
    width: 80%;
    height: 70%;
    top:30%;
}

.overlay2 { 
    width: 80%;
    height: 70%;
    top:30%;
}

/*----MEDIA QUERIES----*/
@media (min-width: 768px) {
  p {
    font-size: 20px;
    line-height: 25px;
  }

  h4,
  h2 {
    font-size: 36px;
    line-height: 52px;
  }

  button {
    font-size: 14px;
    line-height: 18px;
  }

  /*----SKILLS SECTION----*/
  .education h4 {
    font-size: 24px;
    line-height: 29px;
  }

  p.progress-level {
    font-size: 18px;
  }

  img.certificate-badge {
    width: 24px;
    height: 32px;
  }

  /*----PORTFOLIO SECTION----*/
  #portfolio .modal-content {
    width: 500px;
    height: 500px;
  }

  .overlay, .overlay2 {
      top: 170px;
      width: 180px;
      height: 180px;
  }
  

  /*----RESEARCH SECTION----*/
  img.research-icon {
    width: 30px;
    height: 43.64px;
  }

  /*----FOOTER SECTION----*/
  p.footer-text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 992px) {
  p {
    font-size: 24px;
    line-height: 29px;
  }

  h4 {
    font-size: 48px;
    line-height: 59px;
  }

  button {
    font-size: 18px;
    line-height: 22px;
  }
  

  /*----NAVBAR SECTION----*/
  a.navbar-brand {
    font-size: 36px;
  }

  a.navbar-brand img {
    width: 30px;
    height: 30px;
  }

  /*----RESEARCH SECTION----*/
  h5.research {
    font-size: 18px;
    line-height: 32px;
  }

  .box {
    width:80%;
    height: 50%;
  }
  
  .box2 {
    width:80%;
    height: 50%;
    top: 100px;
  }

  #home-card {
    height: 240px;
}
#home-card .card {
    height: 192px;
}

  /*----SKILLS SECTION----*/
  p.info {
    font-size: 18px;
    line-height: 22px;
  }

  p.experience-info {
    color: #3d405b;
  }

  p.research-text,
  p.experience-info,
  p.footer-text.contact-name {
    font-size: 16px;
    line-height: 24px;
  }

  p.experience-date,
  p.skill-name,
  p.experience-name {
    font-size: 16px;
    line-height: 20px;
  }

  .progress,
  .progress-bar {
    height: 9px !important;
  }

  /*----ABOUT SECTION----*/
  p.about-info,
  p.card-text {
    font-size: 16px;
    line-height: 32px;
  }

  p.about-info {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

  /*----PORTFOLIO SECTION----*/
  #portfolio .modal-content {
    width: 500px;
    height: 500px;
  }

  .overlay, .overlay2 {
      top: 35px;
      width: 280px;
      height: 280px;
  }

  .overlay2 {
      top: 35px;
  }

  /*----CONTACT, FOOTER. PORTFOLIO.SKILLS AND ABOUT SECTION----*/
  h4.contact-page,
  h4.work-page,
  h4.experience-page,
  h4.skill-page,
  h4.about-page {
    font-size: 24px;
    line-height: 29px;
  }

  /*----FOOTER SECTION----*/
  p.footer-text {
    font-size: 12px;
    line-height: 24px;
  }

  p.contact-name i.phone {
    font-size: 25px;
  }

  i.twitter,
  i.facebook {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
    .overlay, .overlay2 {
        top: 95px;
    }
}

@media (min-width: 1260px) {
    .box {
        width: 320px;
        height: 120px;
      }
      
      .box2 {
        width: 320px;
        height: 120px;
        top: 100px;
      }

      .overlay, .overlay2 {
        top: 90px;
        overflow-y: hidden !important;
    }

    .overlay {
        left: 5px;
    }

    .overlay2 {
        right: 4px;
    }
}


